[{:itonami.blueprint/social-impact [:consumer-protection :responsible-gaming :local-jobs], :itonami.blueprint/domain :services/gaming, :itonami.blueprint/required-technologies [:robotics :identity :forms :audit-ledger], :itonami.blueprint/isco-08 "4212", :itonami.blueprint/name "Independent Gaming Table & Wagering Operations Practice", :itonami.blueprint/governor :gaming-operations-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-4212", :itonami.blueprint/license "AGPL-3.0-or-later"}]